.toggle.box {
	background:#f0f0f0;
	border:1px solid #e2e2e2;}

.frame_box iframe {
	width:100%}

.featured_post .post-title a {
	background:#000;}

.map_form .inputtext{
	width:143px;}

.toggle.box,
h3.toggle.box {
	border-top:2px solid #c8c8c8;}

.item-image .name {
	bottom:1px;}

.item-image .zoom,
.item-video .zoom,
.item-slides .zoom {
	bottom:0px;}
