<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<title>CamAnon</title>  
	<meta name="description" content="">
    <meta name="author" content="Ronald A. Richardson">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">

	<!-- STYLESHEETS -->
	<link rel="stylesheet" href="app/resources/stylesheets/jquery.mobile.min.css">

	<!-- SCRIPTS -->
	<script src="app/resources/scripts/jquery.min.js"></script>
	<script src="app/resources/scripts/jquery.mobile.min.js"></script>
	<script src="app/CamAnon.js"></script>
	<!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
	
	<script>
	CamAnon.init();
	</script>
</head>  

<body></body> 

</html>