<div data-role="page" data-theme="a">
	<div data-role="header">
		<a href="index.html" data-role="button" data-theme="a" data-icon="refresh">Refresh</a>
		<a href="javascript:CamAnon.controller.auth.logout();" data-theme="b">Logout</a>
		<h1>Cam Anon</h1>
		<div data-role="navbar">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Explore</a></li>
				<li><a href="javascript:PushCapture.init('success');">Capture</a></li>
				<li><a href="#">Likes</a></li>
				<li><a href="#">Account</a></li>
			</ul>
		</div><!-- /navbar -->
	</div>
	
	<div data-role="content">	
		<p>Live stream content goes here.</p>		
	</div>

</div>