#codeigniter_profiler {
	display: none;
}

#fancybox-inner #codeigniter_profiler {
	display: block;
}

/* Footer
-------------------------------------------------- */
.footer {
	margin-top: 15px;
	padding: 35px 0 36px;
	border-top: 1px solid #e5e5e5;
}

.footer p {
	margin-bottom: 0;
	color: #555;
}